name: CD - Terraform Apply and Deploy Website

on:
  push:
    branches:
      - main
    paths:
      - '**.tf'
      - 'index.html'
      - '.github/workflows/**'

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ~1.6.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan -out=tfplan -no-color

    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan

    - name: Sync website files to S3
      run: |
        aws s3 sync . s3://${{ env.BUCKET_NAME }} --exclude ".git/*" --exclude ".github/*" --exclude ".terraform/*" --exclude "*.tf" --exclude "*.tfstate*" --exclude "*.lock.hcl" --exclude "terraform.tfvars" --delete
      env:
        BUCKET_NAME: noor-terraform-123