name: CI - Terraform Validate and Plan

on:
  pull_request:
    branches:
      - master
    paths:
      - '**.tf'
      - '.github/workflows/**'

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ~1.6.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Create S3 bucket for Terraform state
      run: |
        aws s3api create-bucket --bucket noor-terraform-123-tfstate --region us-east-2 --create-bucket-configuration LocationConstraint=us-east-2 || true

    - name: Create DynamoDB table for Terraform locks
      run: |
        aws dynamodb create-table --table-name noor-terraform-123-tf-locks --attribute-definitions AttributeName=LockID,AttributeType=S --key-schema AttributeName=LockID,KeyType=HASH --billing-mode PAY_PER_REQUEST --region us-east-2 || true

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan -no-color